* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 0;
    min-height: 0;
    font-family: ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande",
        sans-serif;
    font-size: 12px;
    tab-size: 4;
}
