# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Debug log from npm
npm-debug.log
yarn-debug.log

## Directory-based project format:
.idea/

/packages/*/build/
/packages/*/dist/
/packages/*/lib/
/packages/*/repositories/
/packages/*/.http-mitm-proxy/
/packages/*/http-mitm-proxy/
/packages/**/package-lock.json
