os: osx
osx_image: xcode9.2

language: node_js
node_js:
  - "8.9.0"

branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"

cache:
  yarn: true
  timeout: 600
  directories:
    - node_modules
    - $HOME/.electron
    - $HOME/Library/Caches/Yarn/v1

script:
  - yarn run bootstrap
  - yarn run build
  - yarn run test
  - if [[ $TRAVIS_PULL_REQUEST = "false" && $TRAVIS_BRANCH == "master" ]]; then yarn run publish:app; fi
